@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}

body {
  font-family: "Lora", serif;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  margin: 2em;
  text-align: center;
  font-size: 2em;
}

p {
  margin: 1.5em;
  line-height: 1.7;
}

.img-fluid {
  max-width: 100%;
  display: block;
}

.container {
  width: 80%;
  margin: 0 auto;
}

#main_header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}
#main_header .logo {
  width: 200px;
}
#main_header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 1em 0;
  justify-content: space-around;
}
#main_header nav ul a {
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
  color: blue;
  font-size: 1.2em;
  font-family: "Lora", serif;
}
#main_header nav ul a:hover, #main_header nav ul a:focus {
  background-color: #e6e6ff;
  border-radius: 1em;
}

section {
  min-height: 100vh;
  padding: 0.5em;
}

#hero {
  background-image: url(../images/hero-bg.webp);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: top;
}

#featured {
  min-height: 50vh;
  background-color: #f8f0e3;
  color: #333;
  padding: 1em;
}
#featured a {
  color: blue;
}
#featured .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  flex-direction: row;
}
#featured .cards .card {
  flex: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  align-items: center;
  font-family: "Lora", serif;
  line-height: 2em;
}
#featured .cards .card img {
  width: 200px;
  padding: 2em;
}

#vendors {
  background-color: #014aa2;
  color: #fff;
}
#vendors a {
  color: #fff;
}
#vendors .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 3em;
  margin: 2em auto;
}
#vendors .cards .card {
  background-color: rgba(204, 204, 204, 0.3);
  color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 2em;
  border-radius: 1em;
}
#vendors .cards .card .card__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 2em;
  text-align: center;
}
#vendors .cards .card .card__body {
  text-align: center;
}
#vendors .cards .card .card__body ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#vendors .cards .card .card__body ul li {
  list-style: none;
  padding: 1em;
  margin: 0.5em;
  background-color: rgba(68, 68, 68, 0.5);
  border-radius: 0.5em;
  font-size: 0.8em;
}

#shipping {
  background-color: #f8f0e3;
  color: #333;
}
#shipping a {
  color: blue;
}

#ordering {
  background-color: #014aa2;
  color: #fff;
}
#ordering a {
  color: #fff;
}

#contact {
  background-color: #f8f0e3;
  color: #333;
}
#contact a {
  color: blue;
}
#contact form {
  width: 100%;
}
#contact .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  margin-bottom: 20px;
}
#contact label {
  color: #1c093c;
}
#contact textarea,
#contact input:not([type=submit]) {
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid #c4cae0;
  margin-top: 5px;
}
#contact textarea {
  resize: none;
}
#contact textarea:focus,
#contact input:focus {
  outline: none;
  border-color: #6f6df4;
}
#contact input[name=contact_submit] {
  border: none;
  padding: 10px 20px;
  background: linear-gradient(130deg, #6f6df4, #4c46f5);
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
#contact input[name=contact_submit]:disabled {
  opacity: 0.3;
  cursor: default;
}
#contact .contact_form_message {
  padding: 1em;
  margin: 1em auto;
  color: #fff;
  opacity: 0;
}
#contact .contact_form_message.error {
  background-color: #ff9494;
  animation: fadeinout 5s linear;
}
#contact .contact_form_message.success {
  background-color: #4bb543;
  animation: fadeinout 5s linear;
}
@keyframes fadeinout {
  0%, 10%, 90%, 100% {
    opacity: 0;
  }
  11%, 89% {
    opacity: 1;
  }
}

footer {
  background-color: #014aa2;
  color: #fff;
  text-align: center;
  padding: 2em;
}
footer a {
  color: #fff;
}